.logo{
    margin-left: 895px;
    margin-right: auto;
    margin-bottom: 20px;
}

.photos{
    float: left;
    width: 50%;
}
.products{
    box-sizing: border-box;
    
}

.column{
    float: right;
    width: 17.33%;
    margin-top: 150px;
    margin-right: 120px;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.surfboards{
    position: absolute;
    top: 1490px;
    left: 1485px;
}
.stroje{
    position: absolute;
    top: 1525px;
    left: 50px;
}
.piankiD{
    position: absolute;
    top: 1525px;
    left: 495px;
}
.piankiM{
    position: absolute;
    top: 1525px;
    left: 930px;
}
.video{
    position: absolute;
    left: 650px;
    top: 1700px;
}